<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/webpages">Soot Heat Map</a>

      <ul class="navbar-brand ml-auto" >
        <a class='navbar-right'><%= link_to 'Legal Resources', legals_path %></a>
        <a class='navbar-right'><%= link_to 'About', abouts_path %></a>
      </ul>

  </div>
</nav>
