<h2>Legal Resources</h2>

<ul>
  <li><a href="https://www.legalaidnyc.org/" target="_blank">Legal Aid Society</a></li>
  <li><a href="https://www.womensrefugeecommission.org/" target="_blank">Womens Refugee Commission</a></li>
  <li><a href="https://www.nyic.org/" target="_blank">New York Immigration Coalition</a></li>
  <li><a href="https://www.aclu.org/" target="_blank">American Civil Liberties Union</a></li>
  <li><a href="https://www.bronxdefenders.org/" target="_blank">THe Bronx Defenders</a></li>
  <li><a href="http://bds.org/" target="_blank">Brooklyn Defender Services</a></li>
</ul>
